<!DOCTYPE html>
<html>
<head>
  <title>Linky</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container text-center">
    <h1>Linky</h1>
    <%= yield %>
  </div>
</body>
</html>
