<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <% if flash[:notice] %>
          <%= raw print_flash_notice %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <!--
          Partie 2, Partie 4
        -->
      </div>
      <div class="col-md-4 text-right">
        <!--
          Partie 4
        -->
      </div>
    </div>
  </div>
</div>
<% @links.each do |link| %>
  <div class="row bordered element">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-1">
          <!--
            Partie 3
          -->
        </div>
        <div class="col-md-9">
          <!-- empty -->
        </div>
        <div class="col-md-2">
          <!-- empty -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 score">
          <span><b>
            <!--
              Partie 3
            -->
          </b></span>
        </div>
        <div class="col-md-9 text-left">
          <span><b>
            <!--
              Partie 2
            -->
          </b><span>
        </div>
        <div class="col-md-2">
          <!-- empty -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
          <!--
            Partie 3
          -->
        </div>
        <div class="col-md-9">
          <!-- empty -->
        </div>
        <div class="col-md-2 text-right">
          <!--
            Partie 4
          -->
          <%= link_to '', link.url, class: 'glyphicon glyphicon-play go-icon' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
